@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
.body{
    font-family: 'Poppins', sans-serif;
}
.adams-carousel-images{
    height: 650px;;
}
.adams-text-shadow{
    text-shadow: 2px 2px 8px #161616;
}
.adams-package-style{
    background-color: seagreen;
    border-radius:  26px;
}
.adams-footer-background{
    background-color: #0B0D17;
}
